<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Form Validation</h2>
  <form action="{% url 'validate_otp' %}" class="was-validated" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="otp">Enter otp:</label>
      <input type="text" class="form-control" id="otp" placeholder="Enter valid otp" name="otp" required>
      <div class="invalid-feedback">Please fill out this field.</div>
      <input type="hidden" value="{{ uid }}" name="uid"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>